<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Unavailable Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
<div th:replace="fragments/nav-bar"></div>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/api/unavailable/add}" th:object="${unavailable}" th:method="post">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="startDate" class="col-form-label">Start date</label>
                            <input type="datetime-local" th:field="*{startDate}" class="form-control" id="startDate">
                            <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="endDate" class="col-form-label">End date</label>
                            <input type="datetime-local" th:field="*{endDate}" class="form-control" id="endDate">
                            <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="car" class="col-form-label">Car</label>
                            <select th:field="*{car}" class="form-control" id="car">
                                <option th:each="car : ${cars}"
                                        th:value="${car.id}" th:text="${car.getDetails()}"></option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Add unavailability">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>

</html>