<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit reservation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div th:replace="fragments/nav-bar"/>
<div class="container my-5">
    <h3> Edit reservation</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{'/api/reservations/edit/'} + ${reservation.id}" th:object="${reservation}"
                      th:method="post">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="departureDepartment" class="col-form-label">Departure:
                                <span th:if="${param.dept}" th:text="${deptName}"></span>
                                <span th:unless="${param.dept}" th:text="${reservation.departureDepartment}"></span>
                            </label>

                            <select class="form-control" id="departureDepartment"
                                    onchange="if (this.value) window.location.search='?dept='+this.value">
                                <option value="#">Change departure department</option>
                                <option th:each="d : ${departureDepartments}"
                                        th:value="${d.id}" th:text="${d.toString()}"
                                        value="${d.id}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="car" class="col-form-label">Available cars</label>
                            <select th:field="*{car}" class="form-control" id="car">
                                <option th:each="car : ${cars}"
                                        th:value="${car.id}" th:text="${car.getDetails()}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="arrivalDepartment" class="col-form-label">Arrival department</label>
                            <select th:field="*{arrivalDepartment}" class="form-control" id="arrivalDepartment">
                                <option th:each="d : ${arrivalDepartments}"
                                        th:value="${d.id}" th:text="${d.toString()}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="rentalStartDate" class="col-form-label">Rental start date</label>
                            <input type="datetime-local" th:field="*{rentalStartDate}" class="form-control"
                                   id="rentalStartDate">
                            <span th:if="${#fields.hasErrors('rentalStartDate')}" th:errors="*{rentalStartDate}"
                                  class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="rentalEndDate" class="col-form-label">Rental end date</label>
                            <input type="datetime-local" th:field="*{rentalEndDate}" class="form-control"
                                   id="rentalEndDate">
                            <span th:if="${#fields.hasErrors('rentalEndDate')}" th:errors="*{rentalEndDate}"
                                  class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Confirm Edit Reservation">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"/>
</body>