<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reservations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>

<body>
<div th:replace="fragments/nav-bar"/>
<div class="container my-5">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Creation date</th>
            <th>Car</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Daily</th>
            <th>Total</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>To rental</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}" >
            <td class="align-middle" th:text="${reservation.customer}"></td>
            <td class="align-middle" th:text="${#temporals.format(reservation.reservationDate,'dd-MM-yyyy HH:mm')}"></td>
            <td class="align-middle" th:text="${reservation.car}"></td>
            <td class="align-middle" th:text="${#temporals.format(reservation.rentalStartDate,'dd-MM-yyyy HH:mm')}"></td>
            <td class="align-middle" th:text="${#temporals.format(reservation.rentalEndDate,'dd-MM-yyyy HH:mm')}"></td>
            <td class="align-middle" th:text="${reservation.departureDepartment}"></td>
            <td class="align-middle" th:text="${reservation.arrivalDepartment}"></td>
            <td class="align-middle" th:text="${#numbers.formatDecimal(reservation.car.pricePerDay,1,'COMMA',2,'POINT')}"></td>
            <td class="align-middle" th:text="${#numbers.formatDecimal(reservation.price,1,'COMMA',2,'POINT')}"></td>

            <td class="align-middle" ><a th:href="@{/api/reservations/edit/{id}(id=${reservation.id})}" method="post" class="btn"><i
                    class="fas fa-edit"></i></a></td>

            <td class="align-middle" ><a th:href="@{/api/reservations/delete/{id}(id=${reservation.id})}" method="post" class="btn"><i
                    class="fas fa-trash-alt"></i></a></td>

            <td class="align-middle" ><a th:href="@{/api/reservations/convert/{id}(id=${reservation.id})}" th:method="post" class="btn"><i
                    class="fas fa-arrow-alt-circle-right"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer"/>
</body>

</html>