<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>

<body>

<div th:replace="fragments/nav-bar"></div>


<div class="container my-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Car type</th>
            <th>Production year</th>
            <th>Car color</th>
            <th>Mileage</th>
            <th>Rental status</th>
            <th>Price per day</th>
            <th>Department</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td class="align-middle" th:text="${car.make}"></td>
            <td class="align-middle" th:text="${car.model}"></td>
            <td class="align-middle" th:text="${car.carType}"></td>
            <td class="align-middle" th:text="${car.productionYear}"></td>
            <td class="align-middle" th:text="${car.carColor}"></td>
            <td class="align-middle" th:text="${car.mileage}"></td>
            <td class="align-middle" th:text="${car.rentalStatus}"></td>
            <td class="align-middle" th:text="${car.pricePerDay}"></td>
            <th class="align-middle" th:text="${car.department}"></th>
            <td class="align-middle"><a th:href="@{/api/cars/edit/{id}(id=${car.id})}" method="get" class="btn"><i
                    class="fas fa-edit"></i></a></td>
            <td class="align-middle"><a th:href="@{/api/cars/delete/{id}(id=${car.id})}" method="post" class="btn"><i
                    class="fas fa-trash-alt"></i></a></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Navigation address">
        <ul class="pagination">
            <li class="page-item" th:if="${totalNumberOfPages > 0}"
                th:each="page : ${numbersList}">
                <a class="page-link" th:href="@{/api/cars(page=${page})}"
                   th:text="${page}"></a>
            </li>
        </ul>
    </nav>
</div>
<div th:replace="fragments/footer"></div>
</body>

</html>